In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
def num_str2float(s):
    try:
        return pd.to_numeric(s)
    except ValueError:
        return s

def remove_tar_str(s, target_string):
    if isinstance(s, str):
        return s.replace(target_string, '')
    else:
        return s

In [4]:
korea_hwan = pd.read_csv('data/환율.csv', encoding='utf-8')
korea_hwan = korea_hwan.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [5]:
korea_hwan

,통계표,계정항목,측정항목,단위,변환,2018/01,2018/02,2018/03,2018/04,2018/05,...,2023/02,2023/03,2023/04,2023/05,2023/06,2023/07,2023/08,2023/09,2023/10,2023/11
0,3.1.2.1. 주요국 통화의 대원화환율,원/미국달러(매매기준율),평균자료,원,원자료,1066.7,1079.58,1071.89,1067.76,1076.39,...,1270.74,1305.73,1320.01,1328.21,1296.71,1286.3,1318.47,1329.47,1350.69,1310.39

In [8]:
korea_hwan_1 = korea_hwan.drop(korea_hwan.columns[:5], axis=1)

In [14]:
korea_hwan_2 = korea_hwan_1.T

In [15]:
korea_hwan_2

               0
2018/01  1066.70
2018/02  1079.58
2018/03  1071.89
2018/04  1067.76
2018/05  1076.39
...          ...
2023/07  1286.30
2023/08  1318.47
2023/09  1329.47
2023/10  1350.69
2023/11  1310.39

[71 rows x 1 columns]

In [16]:
korea_hwan_2.index = pd.to_numeric(korea_hwan_2.index.str.replace('/', ''))

In [19]:
korea_hwan_3 = korea_hwan_2.rename(columns={0: "원달러환율"})

In [20]:
korea_hwan_3

          원달러환율
201801  1066.70
201802  1079.58
201803  1071.89
201804  1067.76
201805  1076.39
...         ...
202307  1286.30
202308  1318.47
202309  1329.47
202310  1350.69
202311  1310.39

[71 rows x 1 columns]

In [22]:
korea_hwan_3.to_csv("data/hwan.csv", encoding="utf8", index=True)