In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
jusic_df = pd.read_csv('data/주식시장.csv', encoding='utf-8')
jusic_df = jusic_df.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

NameError: name 'remove_tar_str' is not defined

In [ ]:
jusic_df

,통계표,계정항목,단위,변환,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,...,2023/02,2023/03,2023/04,2023/05,2023/06,2023/07,2023/08,2023/09,2023/10,2023/11
0,1.5.1.2. 주식시장(월년),KOSPI_종가,1980.01.04=100,원자료,2566.46,2427.36,2445.85,2515.38,2423.01,2326.13,...,2412.85,2476.86,2501.53,2577.12,2564.28,2632.58,2556.27,2465.07,2277.99,2535.29
1,1.5.1.2. 주식시장(월년),KOSDAQ_종가,1996.07.01=1000,원자료,913.57,857.06,871.09,875.95,879.66,818.22,...,791.60,847.52,842.83,856.94,868.24,935.97,928.40,841.02,736.10,831.68

In [ ]:
jusic_df_df = jusic_df.drop(jusic_df.columns[:4], axis=1)

In [ ]:
jusic_df_df

,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,...,2023/02,2023/03,2023/04,2023/05,2023/06,2023/07,2023/08,2023/09,2023/10,2023/11
0,2566.46,2427.36,2445.85,2515.38,2423.01,2326.13,2295.26,2322.88,2343.07,2029.69,...,2412.85,2476.86,2501.53,2577.12,2564.28,2632.58,2556.27,2465.07,2277.99,2535.29
1,913.57,857.06,871.09,875.95,879.66,818.22,775.52,816.97,822.27,648.67,...,791.60,847.52,842.83,856.94,868.24,935.97,928.40,841.02,736.10,831.68

In [3]:
kospi = jusic_df_df.loc[0]
kosdaq = jusic_df_df.loc[1]

NameError: name 'jusic_df_df' is not defined