In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
# 데이터 프레임 내 숫자 형태의 string을 int 또는 float으로 변환
def num_str2float(s):
    try:
        return pd.to_numeric(s)
    except ValueError:
        return s

# 데이터 프레임 내 string에서 특정 문자 제거 예: ',' 또는 '_'
def remove_tar_str(s, target_string):
    if isinstance(s, str):
        return s.replace(target_string, '')
    else:
        return s

In [3]:
#파일 로드 및 변환
seoul_bulding18 = pd.read_csv('data/18.csv', encoding='utf-8') # 파일 CSV 형태로 로드
seoul_bulding18_1 = seoul_bulding18.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float) #데이터 프레임 내 특정 string 제거 후 숫자 변환 수행

In [4]:
seoul_bulding19 = pd.read_csv('data/19.csv', encoding='utf-8')
seoul_bulding19_1 = seoul_bulding19.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [5]:
seoul_bulding20 = pd.read_csv('data/20.csv', encoding='utf-8')
seoul_bulding20_1 = seoul_bulding20.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [6]:
seoul_bulding21 = pd.read_csv('data/21.csv', encoding='utf-8')
seoul_bulding21_1 = seoul_bulding21.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [7]:
seoul_bulding22 = pd.read_csv('data/22.csv', encoding='utf-8')
seoul_bulding22_1 = seoul_bulding22.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [8]:
seoul_bulding23 = pd.read_csv('data/23.csv', encoding='utf-8')
seoul_bulding23_1 = seoul_bulding23.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [9]:
dropped_seoul_building18 = seoul_bulding18_1.drop(seoul_bulding18_1.columns[9:], axis=1)
dropped_seoul_building18['거래금액(원)'] = dropped_seoul_building18['거래금액(만원)']*10000
dropped_seoul_building18['전용면적(평)'] = dropped_seoul_building18['전용면적(㎡)']/3.3
dropped_seoul_building18['평단가'] = dropped_seoul_building18['거래금액(만원)']/dropped_seoul_building18['전용면적(평)']
seoul_bulding_18 = \
    dropped_seoul_building18.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [10]:
dropped_seoul_building19 = seoul_bulding19_1.drop(seoul_bulding19_1.columns[9:], axis=1)
dropped_seoul_building19['거래금액(원)'] = dropped_seoul_building19['거래금액(만원)']*10000
dropped_seoul_building19['전용면적(평)'] = dropped_seoul_building19['전용면적(㎡)']/3.3
dropped_seoul_building19['평단가'] = dropped_seoul_building19['거래금액(만원)']/dropped_seoul_building19['전용면적(평)']
seoul_bulding_19 = \
    dropped_seoul_building19.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [11]:
dropped_seoul_building20 = seoul_bulding20_1.drop(seoul_bulding20_1.columns[9:], axis=1)
dropped_seoul_building20['거래금액(원)'] = dropped_seoul_building20['거래금액(만원)']*10000
dropped_seoul_building20['전용면적(평)'] = dropped_seoul_building20['전용면적(㎡)']/3.3
dropped_seoul_building20['평단가'] = dropped_seoul_building20['거래금액(만원)']/dropped_seoul_building20['전용면적(평)']
seoul_bulding_20 = \
    dropped_seoul_building20.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [12]:
dropped_seoul_building21 = seoul_bulding21_1.drop(seoul_bulding21_1.columns[9:], axis=1)
dropped_seoul_building21['거래금액(원)'] = dropped_seoul_building21['거래금액(만원)']*10000
dropped_seoul_building21['전용면적(평)'] = dropped_seoul_building21['전용면적(㎡)']/3.3
dropped_seoul_building21['평단가'] = dropped_seoul_building21['거래금액(만원)']/dropped_seoul_building21['전용면적(평)']
seoul_bulding_21 = \
    dropped_seoul_building21.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [13]:
dropped_seoul_building22 = seoul_bulding22_1.drop(seoul_bulding22_1.columns[9:], axis=1)
dropped_seoul_building22['거래금액(원)'] = dropped_seoul_building22['거래금액(만원)']*10000
dropped_seoul_building22['전용면적(평)'] = dropped_seoul_building22['전용면적(㎡)']/3.3
dropped_seoul_building22['평단가'] = dropped_seoul_building22['거래금액(만원)']/dropped_seoul_building22['전용면적(평)']
seoul_bulding_22 = \
    dropped_seoul_building22.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [14]:
dropped_seoul_building23 = seoul_bulding23_1.drop(seoul_bulding23_1.columns[9:], axis=1)
dropped_seoul_building23['거래금액(원)'] = dropped_seoul_building23['거래금액(만원)']*10000
dropped_seoul_building23['전용면적(평)'] = dropped_seoul_building23['전용면적(㎡)']/3.3
dropped_seoul_building23['평단가'] = dropped_seoul_building23['거래금액(만원)']/dropped_seoul_building23['전용면적(평)']
seoul_bulding_23 = \
    dropped_seoul_building23.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [22]:
dropped_seoul_building23

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),거래금액(원),전용면적(평),평단가
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.7500,202309,13,182000,1820000000,23.560606,7724.758842
1,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.9700,202307,26,205000,2050000000,24.233333,8459.422283
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.9700,202310,4,219000,2190000000,24.233333,9037.138927
3,서울특별시 강남구 개포동,651-1,651,1,개포더샵트리에,105.8064,202306,29,240000,2400000000,32.062545,7485.369505
4,서울특별시 강남구 개포동,651-1,651,1,개포더샵트리에,108.2017,202308,15,245000,2450000000,32.788394,7472.156168
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,서울특별시 강남구 청담동,23,23,0,현대아파트,84.7800,202311,18,184000,1840000000,25.690909,7162.066525
2204,서울특별시 강남구 청담동,75-1,75,1,현대아파트(75-1),95.3800,202305,31,211000,2110000000,28.903030,7300.272594
2205,서울특별시 강남구 청담동,106,106,0,현대한강빌라,136.2600,202302,23,350000,3500000000,41.290909,8476.442096
2206,서울특별시 강남구 청담동,106,106,0,현대한강빌라,136.2600,202304,1,295000,2950000000,41.290909,7144.429767
2207,서울특별시 강남구 청담동,106,106,0,현대한강빌라,134.7600,202310,5,370000,3700000000,40.836364,9060.552093

In [16]:
all_seoul_building = pd.concat([seoul_bulding_18,seoul_bulding_19,seoul_bulding_20,seoul_bulding_21,seoul_bulding_22,seoul_bulding_23 ])