In [68]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [69]:
# 데이터 프레임 내 숫자 형태의 string을 int 또는 float으로 변환
def num_str2float(s):
    try:
        return pd.to_numeric(s)
    except ValueError:
        return s

# 데이터 프레임 내 string에서 특정 문자 제거 예: ',' 또는 '_'
def remove_tar_str(s, target_string):
    if isinstance(s, str):
        return s.replace(target_string, '')
    else:
        return s

In [70]:
#파일 로드 및 변환
seoul_bulding18 = pd.read_csv('data/18.csv', encoding='utf-8') # 파일 CSV 형태로 로드
seoul_bulding18_1 = seoul_bulding18.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float) #데이터 프레임 내 특정 string 제거 후 숫자 변환 수행

In [71]:
seoul_bulding19 = pd.read_csv('data/19.csv', encoding='utf-8')
seoul_bulding19_1 = seoul_bulding19.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [72]:
seoul_bulding20 = pd.read_csv('data/20.csv', encoding='utf-8')
seoul_bulding20_1 = seoul_bulding20.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [73]:
seoul_bulding21 = pd.read_csv('data/21.csv', encoding='utf-8')
seoul_bulding21_1 = seoul_bulding21.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [74]:
seoul_bulding22 = pd.read_csv('data/22.csv', encoding='utf-8')
seoul_bulding22_1 = seoul_bulding22.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [75]:
dropped_seoul_building18 = seoul_bulding18_1.drop(seoul_bulding18_1.columns[9:], axis=1)
dropped_seoul_building18['거래금액(원)'] = dropped_seoul_building18['거래금액(만원)']*10000
dropped_seoul_building18['전용면적(평)'] = dropped_seoul_building18['전용면적(㎡)']/3.3
dropped_seoul_building18['평단가'] = dropped_seoul_building18['거래금액(만원)']/dropped_seoul_building18['전용면적(평)']
seoul_bulding_18 = \
    dropped_seoul_building18.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [76]:
dropped_seoul_building19 = seoul_bulding19_1.drop(seoul_bulding19_1.columns[9:], axis=1)
dropped_seoul_building19['거래금액(원)'] = dropped_seoul_building19['거래금액(만원)']*10000
dropped_seoul_building19['전용면적(평)'] = dropped_seoul_building19['전용면적(㎡)']/3.3
dropped_seoul_building19['평단가'] = dropped_seoul_building19['거래금액(만원)']/dropped_seoul_building19['전용면적(평)']
seoul_bulding_19 = \
    dropped_seoul_building19.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [77]:
dropped_seoul_building20 = seoul_bulding20_1.drop(seoul_bulding20_1.columns[9:], axis=1)
dropped_seoul_building20['거래금액(원)'] = dropped_seoul_building20['거래금액(만원)']*10000
dropped_seoul_building20['전용면적(평)'] = dropped_seoul_building20['전용면적(㎡)']/3.3
dropped_seoul_building20['평단가'] = dropped_seoul_building20['거래금액(만원)']/dropped_seoul_building20['전용면적(평)']
seoul_bulding_20 = \
    dropped_seoul_building20.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [78]:
dropped_seoul_building21 = seoul_bulding21_1.drop(seoul_bulding21_1.columns[9:], axis=1)
dropped_seoul_building21['거래금액(원)'] = dropped_seoul_building21['거래금액(만원)']*10000
dropped_seoul_building21['전용면적(평)'] = dropped_seoul_building21['전용면적(㎡)']/3.3
dropped_seoul_building21['평단가'] = dropped_seoul_building21['거래금액(만원)']/dropped_seoul_building21['전용면적(평)']
seoul_bulding_21 = \
    dropped_seoul_building21.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [79]:
dropped_seoul_building22 = seoul_bulding22_1.drop(seoul_bulding22_1.columns[9:], axis=1)
dropped_seoul_building22['거래금액(원)'] = dropped_seoul_building22['거래금액(만원)']*10000
dropped_seoul_building22['전용면적(평)'] = dropped_seoul_building22['전용면적(㎡)']/3.3
dropped_seoul_building22['평단가'] = dropped_seoul_building22['거래금액(만원)']/dropped_seoul_building22['전용면적(평)']
seoul_bulding_22 = \
    dropped_seoul_building22.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [81]:
seoul_bulding_18

                평단가
계약년월
201801  5284.683427
201802  5162.512642
201803  5559.330421
201804  5408.207363
201805  5384.022908
201806  5295.365944
201807  6018.374550
201808  6152.838395
201809  5954.082115
201810  5654.036773
201811  5524.588140
201812  4873.305712