In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
# 데이터 프레임 내 숫자 형태의 string을 int 또는 float으로 변환
def num_str2float(s):
    try:
        return pd.to_numeric(s)
    except ValueError:
        return s

# 데이터 프레임 내 string에서 특정 문자 제거 예: ',' 또는 '_'
def remove_tar_str(s, target_string):
    if isinstance(s, str):
        return s.replace(target_string, '')
    else:
        return s

In [3]:
#파일 로드 및 변환
seoul_bulding18 = pd.read_csv('data/18.csv', encoding='utf-8') # 파일 CSV 형태로 로드
seoul_bulding18_1 = seoul_bulding18.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float) #데이터 프레임 내 특정 string 제거 후 숫자 변환 수행

In [4]:
seoul_bulding19 = pd.read_csv('data/19.csv', encoding='utf-8')
seoul_bulding19_1 = seoul_bulding19.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [5]:
seoul_bulding20 = pd.read_csv('data/20.csv', encoding='utf-8')
seoul_bulding20_1 = seoul_bulding20.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [6]:
seoul_bulding21 = pd.read_csv('data/21.csv', encoding='utf-8')
seoul_bulding21_1 = seoul_bulding21.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [7]:
seoul_bulding22 = pd.read_csv('data/22.csv', encoding='utf-8')
seoul_bulding22_1 = seoul_bulding22.map(lambda x: remove_tar_str(x, ',')).apply(num_str2float)

In [8]:
dropped_seoul_building18 = seoul_bulding18_1.drop(seoul_bulding18_1.columns[9:], axis=1)
dropped_seoul_building18['거래금액(원)'] = dropped_seoul_building18['거래금액(만원)']*10000
dropped_seoul_building18['전용면적(평)'] = dropped_seoul_building18['전용면적(㎡)']/3.3
dropped_seoul_building18['평단가'] = dropped_seoul_building18['거래금액(만원)']/dropped_seoul_building18['전용면적(평)']
seoul_bulding_18 = \
    dropped_seoul_building18.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [9]:
dropped_seoul_building19 = seoul_bulding19_1.drop(seoul_bulding19_1.columns[9:], axis=1)
dropped_seoul_building19['거래금액(원)'] = dropped_seoul_building19['거래금액(만원)']*10000
dropped_seoul_building19['전용면적(평)'] = dropped_seoul_building19['전용면적(㎡)']/3.3
dropped_seoul_building19['평단가'] = dropped_seoul_building19['거래금액(만원)']/dropped_seoul_building19['전용면적(평)']
seoul_bulding_19 = \
    dropped_seoul_building19.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [10]:
dropped_seoul_building20 = seoul_bulding20_1.drop(seoul_bulding20_1.columns[9:], axis=1)
dropped_seoul_building20['거래금액(원)'] = dropped_seoul_building20['거래금액(만원)']*10000
dropped_seoul_building20['전용면적(평)'] = dropped_seoul_building20['전용면적(㎡)']/3.3
dropped_seoul_building20['평단가'] = dropped_seoul_building20['거래금액(만원)']/dropped_seoul_building20['전용면적(평)']
seoul_bulding_20 = \
    dropped_seoul_building20.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [11]:
dropped_seoul_building21 = seoul_bulding21_1.drop(seoul_bulding21_1.columns[9:], axis=1)
dropped_seoul_building21['거래금액(원)'] = dropped_seoul_building21['거래금액(만원)']*10000
dropped_seoul_building21['전용면적(평)'] = dropped_seoul_building21['전용면적(㎡)']/3.3
dropped_seoul_building21['평단가'] = dropped_seoul_building21['거래금액(만원)']/dropped_seoul_building21['전용면적(평)']
seoul_bulding_21 = \
    dropped_seoul_building21.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [12]:
dropped_seoul_building22 = seoul_bulding22_1.drop(seoul_bulding22_1.columns[9:], axis=1)
dropped_seoul_building22['거래금액(원)'] = dropped_seoul_building22['거래금액(만원)']*10000
dropped_seoul_building22['전용면적(평)'] = dropped_seoul_building22['전용면적(㎡)']/3.3
dropped_seoul_building22['평단가'] = dropped_seoul_building22['거래금액(만원)']/dropped_seoul_building22['전용면적(평)']
seoul_bulding_22 = \
    dropped_seoul_building22.sort_values(by=['계약년월']).groupby('계약년월').agg({'평단가': 'mean'})

In [15]:
pd.concat([seoul_bulding_18,seoul_bulding_19,seoul_bulding_20,seoul_bulding_21,seoul_bulding_22])

                평단가
계약년월
201801  5284.683427
201802  5162.512642
201803  5559.330421
201804  5408.207363
201805  5384.022908
201806  5295.365944
201807  6018.374550
201808  6152.838395
201809  5954.082115
201810  5654.036773
201811  5524.588140
201812  4873.305712
201901  5628.728784
201902  5708.765448
201903  5844.578443
201904  6491.395292
201905  6681.812074
201906  6649.408011
201907  6681.755989
201908  7067.929722
201909  7157.645356
201910  6873.882863
201911  6906.835715
201912  6899.746482
202001  6103.649395
202002  6991.751527
202003  6587.701966
202004  6710.708304
202005  6486.639593
202006  7013.051501
202007  6607.723167
202008  7163.048184
202009  7173.880769
202010  7026.070459
202011  7443.371117
202012  7514.050648
202101  7495.153043
202102  7857.083925
202103  7032.104418
202104  7534.705696
202105  7236.828171
202106  7864.648058
202107  8539.134627
202108  7861.212471
202109  8053.248973
202110  8578.202139
202111  7542.875985
202112  8420.125385
202201  7786.489370
202202  7333.777274
202203  7860.110073
202204  8454.796648
202205  7879.285401
202206  7936.147465
202207  8040.813604
202208  6935.555018
202209  8078.352865
202210  6931.885283
202211  7625.415171
202212  6922.781692